/* static/css/styles.css */

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: none; /* 縦の線を無くす */
    border-right: none; /* 縦の線を無くす */
    text-align: center;
    padding: 4px;
}

th {
    background-color: #f2f2f2;
}