<!-- templates/employee.html -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>従業員ページ</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 h-screen flex justify-center">

    <div class="bg-white p-4 rounded-lg shadow-lg w-full max-w-md">
        <div class="flex justify-center mb-4">
            <input type="month" id="shift-month" name="shift_month" required>
        </div>
        <div class="container">
            <div id="calendar-container">
                <form id="shift-form">

                    <div>
                        <span id="username">【{{ username }}】</span>
                        <span id="full_name">{{ full_name }}</span>
                    </div>
                    <div>
                        <span>◽️連勤: {{ max_consecutive_days }} 日</span>
                        <span>◽️{{ max_days_per_week }} 日/週</span>
                    </div>



                    <table id="calendar"></table>


                    <!-- シフト詳細を表示するセクション -->
                    <div id="shift-details" class="details-section">
                        <div class="shift-date"></div>
                        <div class="shift-content">
                            <div class="shift-time">
                                <span class="start-time"></span>
                                <span class="end-time"></span>
                            </div>
                            <div class="shift-description"></div>
                            <button class="edit-button">変更</button>
                        </div>
                        <!-- モーダルダイアログボックス -->
                        <div id="modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <h2>シフト時間の変更</h2>
                                <label for="start-time">開始時間:</label>
                                <input type="time" id="start-time" name="start-time">
                                <label for="end-time">終了時間:</label>
                                <input type="time" id="end-time" name="end-time">
                                <button id="save-button">保存</button>
                            </div>
                        </div>
                    </div>
                    <button id="logout-button">ログアウト</button>


                    <div id="current-shift-info"></div>
                    <div id="tooltip"
                        style="position:absolute; display:none; background-color:white; border:1px solid black; padding:5px;">
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="../static/js/main.js" type="module"></script>
    <script src="../static/js/calendar.js" type="module"></script>

</body>

</html>