<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>

<body>
    <h1>User List</h1>
    <ul>
        {% for user in users %}
        <li>{{ user.name }} ({{ user.email }}) - Created at: {{ user.created_at }}</li>
        {% endfor %}
    </ul>

    <h1>Employee List</h1>
    <ul>
        {% for employee in employees %}
        <li>{{ employee.full_name }} ({{ employee.username }}) - Max Consecutive Days: {{ employee.max_consecutive_days
            }} - Max Days per Week: {{ employee.max_days_per_week }}</li>
        {% endfor %}
    </ul>
</body>

</html>